# Example environment variables for Aplikacja do wstawiania ogloszen
# Copy to .env and edit as needed

PORT=3001
GRAILED_PRICE_PERCENTAGE=15

# Firebase (new main database)
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBolGQVxZAxvMrwiMu1jGOrvyxjXgoLA0E
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=glowna-baza-danych-kamochi.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=glowna-baza-danych-kamochi
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=glowna-baza-danych-kamochi.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=903761746133
EXPO_PUBLIC_FIREBASE_APP_ID=1:903761746133:web:66bc802ee3fa7c01602a5c
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-E4733GN755
